/* *{
    box-sizing: border-box;
}
.button{
    display: block;
    margin: 100px auto;
    border-radius:20px;
    width: 200px;
    padding: 20px;
    background-color: plum;
    text-transform: uppercase;
    border: none;
    color: white;
    font-weight: 700;

    transition: background-color 500ms ease 250ms, color 250ms ease 100ms;
    letter-spacing: 3px;
}
.button:hover{
    background-color: cornflowerblue;
    color: pink;
}
.button::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size:cover;
    background-repeat: no-repeat;
    background-image:url(../icons/symbol-defs.svg#icon-connection);
    background-color: brown;
    fill: white;
} */
.backdrop{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: violet;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    transition: transform 2000ms ease;
    background-color: blueviolet;
    padding: 20px;
    width: 600px;
    height: 700px;
}
.svg{
    width: 20px;
    height: 20px;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
}